.wrapper {
    width: 250px;
}

img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    border-radius: 15px;
    background-color: gray;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.price-label {
    font-weight: 300;
    font-size: 0.9rem;
}

.price {
    font-weight: 500;
    font-size: 0.9rem;
}